body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}
h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border-color: #C9D8B6;
  border-style: dotted none none;
  border-width: 8px;
  width: 4%;
  margin: 0 auto;
}
a:hover{
  color: #EAF6F6
}
.footer-link {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  padding: 25px;
  font-weight: bolder;
  text-decoration: none;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 80px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  color: #11999E;
  padding: 20px;
  line-height: 2.5;
}

.pro {
  text-decoration: underline;
}
.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.top-cloud{
  position: absolute;
  right: 250px;
  top: 50px;
}
.skill-row1{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.skill-row2{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
  position: relative;
  top: 25px;
  clear:left;
  padding-bottom: 40px;
}
.adobe-image{
  width: 30%;
  float: left;
  margin-right: 30px;
  position: relative;
  bottom: 60px;
}
.comp-image{
  width: 30%;
  float: right;
  margin-left: 30px;
  position: relative;
  bottom: 25px;
}
.profile{
  width: 30%;
  margin: 0 auto 100px auto;
  line-height: 2;
}
.skills{
  margin-top: 100px;
}
.contact-me{
  padding-top: 60px;
  line-height: 2;
  width: 50%;
  margin: 0 auto 50px auto;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: relative;
  top: 15px;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
